<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">

            <h3>Portfolyom</h3>

            <h1>Son Projelerime Göz Atabilirsiniz</h1>

            <p class="lead">
                Yazılım geliştirme yolculuğuma başladığımdan bu yana, hem kişisel hem de profesyonel projeler üzerinde çalışarak yeteneklerimi sürekli geliştirdim. Özellikle React Native ve C# kullanarak mobil uygulamalar geliştirmeye odaklanıyorum. Clean code prensiplerine önem veriyor ve projelerimde kullanıcı dostu ve etkili çözümler üretmeyi hedefliyorum.

                Bazı yeteneklerim ve deneyimlerim:

                C# .NET: Masaüstü ve backend geliştirme projelerinde derinlemesine bilgi ve deneyime sahibim. Veritabanı yönetimi, API entegrasyonu ve performans odaklı yazılım geliştirme konularında çalışıyorum.

                React Native: Mobil uygulamalar geliştirme konusunda yetkinim. Uygulamalarımda modern UI/UX tasarım prensiplerini uyguluyor ve Firebase gibi bulut tabanlı çözümleri entegre ediyorum.

                Projeler: Şu ana kadar hem bireysel hem de ekip projelerinde çalıştım. En son projem, finansal rehberlik ve varlık yönetimi konularına odaklanan bir mobil uygulama geliştirmek üzerineydi. Bu uygulama, kullanıcıların düşük bütçelerle yatırım yapmalarını teşvik etmeyi ve finansal bilinç oluşturmalarını sağlamayı amaçlıyor.

                Problem Çözme ve Öğrenme Yeteneği: Yeni teknolojileri öğrenmekten ve bunları projelerime entegre etmekten keyif alıyorum. Aynı zamanda karşılaştığım sorunlara yaratıcı çözümler bulmak konusunda oldukça iyiyim.

                Gelecek hedeflerim arasında, geliştirdiğim mobil uygulamaları küresel pazara sunmak ve uluslararası bir yazılım geliştirici olarak kariyerimi ilerletmek bulunuyor. Aynı zamanda, sektördeki deneyimlerimi paylaşarak diğer geliştiricilere ilham vermeyi hedefliyorum.

                Eğer portfolyom hakkında daha fazla bilgi almak isterseniz veya birlikte projeler üzerinde çalışmayı düşünüyorsanız, benimle iletişime geçebilirsiniz.

                Teşekkürler!

                GitHub Hesabım: https://github.com/Alitpz

                
            </p>
        </div>
    </div>


     

</section> <!-- end works -->