<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">Benim İçin Ne Dediler </h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="testimonials__slide" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%; width: 100%; padding-left: 50px;">
            <p style="margin: 0; max-width: 600px; text-align: center;">
                Kendisini tanıdığım günden beri yazılım konusundaki yeteneği ve azmi beni her zaman etkilemiştir. Problemlere yaklaşımı son derece analitik ve yaratıcı; her zaman mantıklı, pratik çözümler üretmeyi başarıyor. Kod yazarken gösterdiği özen ve düzen, profesyonel bir yazılımcıdan beklenebilecek düzeyde. Teknolojiye olan ilgisi ve kendini geliştirme azmi, onu sürekli bir adım öne taşıyor. Henüz yolun başında olmasına rağmen projelerinde gösterdiği başarı, ileride çok daha büyük işlere imza atacağının bir göstergesi. Hem ekip çalışmasına uyumlu hem de kendi başına sorumluluk alabilen bir yapıya sahip. Onunla çalışmak, hem bir şeyler öğrenmek hem de ilham almak açısından gerçekten değerli bir deneyim.
            </p>
            <div class="testimonials__author h06" style="margin-top: 20px; text-align: center;">
                Tuğrul Ceylan
                <span>Makine Mühendisi</span>
            </div>
        </div>



        </div> 

    </div> 

